.top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 125px 0 0 0;

}

.left-line {
    border: 1px solid black;
    width: 30%;
}

.right-line {
    border: 1px solid black;
    width: 30%;
}

.gal_head {
    font-family: "Lancelot", serif;
    font-size: 60px;
    margin: 0px 2%;
}

.grid_container {
    display: grid;
    grid-template-rows: auto 1fr; 
    grid-template-columns: 1fr; 
    gap: 20px; 
    min-height: 100vh; 
    padding: 20px;
    justify-items: center;
    font-family: "Lancelot", serif;
}

.card {
    display: grid;
    grid-template-rows: 70% 30%; 
    align-items: center;
    justify-items: center;
    background: white;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: calc(100% - 60px);
    max-width: 480px;
    height: 600px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-bottom: 2px solid lightgray;
}

.caption {
    font-size: 1rem;
    text-align: center;
}

@media screen and (min-width: 768px) {
.grid_container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-template-columns: repeat(3, 1fr); 
    gap: 10px; 
    min-height: 100vh; 
    padding: 20px;
    margin-top: 90px;
    justify-items: center;
}

.gal_head {
    font-size: 3rem;
    font-weight: bold;
    text-align: center;
    color: #333;
    grid-column: span 3;
    align-self: center;
}

.card {
    display: grid;
    grid-template-rows: 70% 30%;
    align-items: center;
    justify-items: center;
    background: #fff;
    border: 2px solid lightgray;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px; 
    height: 450px;
}

.card img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-bottom: 2px solid #ddd;
}

.caption {
    font-size: 1rem;
    text-align: center;
}
}