
main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.2fr 1fr 0.8fr 0.4fr;
    height: 90vh;
    width: 100%;
    margin: auto;
    margin-top: 110px;
}


.title-box {
    grid-column: 1/4;
    grid-row: 1/2;
    width: 55%;
    margin: auto;
    display: flex;
    background-color: none;
    font-family: "Lancelot", serif;
    font-size: 70px;
    align-items: center;
    justify-content: center;
    flex-flow: wrap;
    text-align: center;
}

.description-title {
    margin-top: 2%;
    width: 97%;
    font-weight: 1000;
}

.description {
    grid-column: 1/4;
    grid-row: 2/3;
    background-color: #890404ff;
    display: flex;
    width: 80%;
    height: 96%;
    justify-self: center;
    color: white;
    border-radius: 10px;
    flex-direction: column;
    align-items: center;
    font-family: "Lancelot", serif;
    font-size: 1.8rem;
    text-align: center;
    justify-content: center;
}

.details {
    display: flex;
    font-size: 1.25rem;
    margin-top: 2%;
    width: 90%;
    padding-bottom: 3%;
    align-self: center;
}

.button {
    grid-row: 4/5;
    grid-column: 1/4;
    background-color: #890404ff;
    width: 55%;
    height: 100%;
    display: flex;
    justify-self: center;
    align-self: end;
    color: white;
    align-items: center;
    justify-content: center;
    font-family: "Lancelot", serif;
    transition: all 750ms;
    font-size: 28px;
    text-decoration: none;
}

.button:hover, .button:focus {
  cursor: pointer;
  background-color: #ea4b48;
}

.images {
    grid-row: 3/4;
    grid-column: 1/4;
    background-color: #4ec8e1;
    display: flex;
    width: 80%;
    height: 95%;
    justify-self: center;
    align-self: start;
    justify-content: space-around;
    border-radius: 10px;
}

.truck-div {
    display: flex;
    justify-self: center;
    align-self: center;
    width: 40%;
    height: 80%;
    position: relative;
    border-radius: 10px;
}

.car-div {
    display: flex;
    position: relative;
    justify-self: center;
    align-self: center;
    width: 40%;
    height: 80%;
}

.car-img, .truck-img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

footer {
    display: flex;
    flex-direction: row;
    background-color: rgb(31, 29, 29);
    margin-top: 2%;
}

.bottom {
    margin-left: 3%;
}
.footer-logo {
    height: 100px;
    width: 100px;
}

.footer-content {
    display: flex;
    width: 100%;
    color: red;
    font-weight: bold;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-right: 10%;
    flex-flow: column;
}

.LLC {
    font-family: "Lancelot", serif;
    font-size: 20px;
    font-weight: bold;
}

.license {
    color: white;
    font-weight: bold;
    font-size: 14px;
    
}

@media screen and (min-width: 768px) {

    .title-box {
        width: 100%;
        grid-column: 1/4;
        grid-row: 1/2;
    }
    
    main {
        height: 70vh;
        margin-top: 120px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 0.2fr 1fr 0.3fr;
    }

    .button {
        grid-row: 3/4;
        grid-column: 1/4
    }

    .description {
        width: 85%;
        grid-row: 2/3;
        grid-column: 1/2; height: 95%;
        max-width: 420.33px;
        justify-self: flex-end;
        margin-right: 8%;
    }

    .images {
        grid-row: 2/3;
        grid-column: 2/3;
        display: flex;
        flex-direction: column;
        height: 95%;
        width: 85%;
        max-width: 420.33px;
        justify-self: flex-start;
        margin-left: 8%;
    }

    .details {
        margin-top: 5%;
        padding: none;
    }

    .truck-div {
        display: flex;
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 50%;
        position: relative;
        border-radius: 10px;
    }
    
    .car-div {
        display: flex;
        position: relative;
        justify-self: center;
        align-self: center;
        width: 80%;
        height: 40%;
    }
}