main {
    margin-top: 120px;
    height: 140vh;
}



.top-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.left-line {
    border: 1px solid black;
    width: 30%;
}

.right-line {
    border: 1px solid black;
    width: 30%;
}

.services {
    font-family: "Lancelot", serif;
    font-size: 60px;
    margin: 0 2%;
}

.mid-container {
    margin: auto;
    display: flex;
    width: 95%;
    height: 90vh;
    flex-direction: column;
}

.basic-gold {
    height: 65%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.box {
    background-color: #890404ff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 45%;
    border-radius: 10px;
    display: flex;
    font-family: "Lancelot", serif;
    color: white;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center
}

.basic-title {
    font-size: 27px;
    margin-bottom: 10%;
    font-weight: bold;
}

span {
    font-family: 'Times New Roman', Times, serif;
}

.basic-details {
    font-size: 20px;
    margin-bottom: 6%;
    width: 95%;
}

.gold {
    background-color: #dca709ff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 90%;
    width: 45%;
    border-radius: 10px;
}

.gold-title {
    font-size: 27px;
    margin-bottom: 5%;
    font-weight: bold;
}
.gold-details {
    font-size: 20px;
    width: 95%;
}

.platinum {
    align-self: center;
    background-color: rgb(140, 139, 139);
    height: 35%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 96%;
    border-radius: 10px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: "Lancelot", serif;
}

.platinum-title {
    font-size: 30px;
    margin-bottom: 3%;
    font-weight: bold;
}

.platinum-details {
    width: 80%;
    font-size: 20px;
    margin-bottom: 10px;
}

.top-container-two {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.left-line-two {
    border: 1px solid black;
    width: 28%;
}

.right-line-two {
    border: 1px solid black;
    width: 28%;
}

.alert {
    font-size: 10px;
    margin-top: 10px;
    justify-self: center;
    margin-bottom: 20px;
    display: flex;
    flex-flow: wrap;
}

.outer-container {
    width: 100%;
    height: 60vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: "Lancelot", serif;
}

.left-container {
    height: 376px;
    width: 50%;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
}

.stationed-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 5%;
}

.stationed-details {
    width: 90%;
    margin-left: 3%;
    font-size: 18px;
    margin-bottom: 10%;
}

.travel-title {
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 3%;
    margin-top: 8%;
}

.travel-details {
    width: 90%;
    margin-left: 3%;
    font-size: 18px;
    margin-bottom: 10%;
}

.img-container {
    display: flex;
    width: 45%;
    position: relative;
    height: 100%;
}


.googlemap-img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.citation {
    display: flex;
    justify-content: flex-end;
    margin-right: 15%;
    font-size: 8px
}

footer {
    margin-top: 280px;
}
@media screen and (min-width: 768px) {

    main {
        height: 110vh
    }
    .basic-gold {
        grid-row: 1/2;
        grid-column: 1/2;
        gap: 3%;
        height: 100%;
    }
    .mid-container {
        display: grid;
        flex-direction: row;
        grid-template-rows: 1fr;
        grid-template-columns: 2fr 1fr;
        width: 100%;
        height: 30vh;
    }

    .box {
        box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
        height: 100%;
        width: 45%;
        border-radius: 10px;
        display: flex;
        font-family: "Lancelot", serif;
        color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center
    }

    .basic-title {
        margin-bottom: 5%;
    }

    .basic-details {
        margin-bottom: 10%;
    }

    .platinum {
        grid-row: 1/2;
        grid-column: 2/3;
    }

    .platinum {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    height: 100%;
    width: 90%;
    align-self: start;
    justify-self: end;
    margin-right: 3%;
    }

    .gold {
        margin-right: 1%;
    }

    .alert {
        margin-top: 2%;
    }

    .stationed-title {
        font-size: 40px;
    }

    .stationed-details {
        font-size: 24px;
        margin-bottom: none;
    }
    .travel-title {
        font-size: 40px;
    }

    .travel-details {
        font-size: 24px;
        margin-bottom: 0;
    }

    .services {
        font-size: 64px;
    }
    
    .stationed-title {
        font-weight: bold;
        margin-bottom: 3%;
        margin-top: 0;
    }
    
    .stationed-details {
        margin-bottom: 0;
    }
    
    .travel-title {
        margin-bottom: 3%;
        margin-top: 6%;
    }
    
    .travel-details {
        margin-bottom: 5%;
    }

    footer {
        margin-top: 5%;
    }

}